:root {
    --black: #000000;
    --dark-gray: #2a2a2c;
}

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #006bb7;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.content {
    padding-top: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 80vh;
}

body {
    background-color: var(--dark-gray);
    color: white;
}

h1:focus {
    outline: none;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid #e50000;
}

.validation-message {
    color: #e50000;
}

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }

.darker-border-checkbox.form-check-input {
    border-color: #929292;
}

.top-row {
    background-color: var(--black);
    justify-content: flex-start;
    height: 4.5rem;
    display: flex;
    align-items: center;
}

.top-row > img {
    height: 2rem;
    margin-left: 1rem;
}

.top-row > h1 {
    color: white;
    font-size: 2rem;
    font-weight: bold;
}
.top-row > p {
    color: white;
    font-size: 1.25rem;
    font-weight: bold;
    margin-left: 1rem;
    margin-top: 1.5rem;
}

.items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;

}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.itemHeader {
    text-align: center;
    font-size: 1rem;
    width: 95%;
    border-bottom: 1px solid white;
    padding-bottom: 0.2rem;
}

.leaderboard {
    background-color: white;
    border: 1px solid gray;
    border-top: none;
    border-radius: 0 0 8px 8px;
    width: 50rem;
}

.leaderboard-header {
    width: 50rem;
    background-color: white;
    border: 1px solid gray;
    border-radius: 8px 8px 0 0;
    padding: 8px;
}

table {
    width: 100%;
}

th {
    color: black;
    border-bottom: 1px solid gray;
}

th .sort-indicator {
    margin-left: auto;
}

tr {
    height: 4rem;
    color: black;
}

tr:first-child {
    height: 2.5rem;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.pagination-text {
    color: black;
}

.radio-group {
    display: flex;
    gap: 8px;
    background-color: #f2f2f2;
    padding: 5px;
    border-radius: 5px;
    color: black;
    width: max-content;
    margin-bottom: 8px;
}

.radio-button label {
    padding: 3px 8px;
    border-radius: 5px;
    color: black;
}

.radio-button input:checked + label {
    background-color: white;
}

.radio-button label:hover {
    cursor: pointer;
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}

input[type="text"] {
    border: 1px solid gray;
    border-radius: 5px 0 0 5px;
}

input + button {
    border: 1px solid gray;
    border-left: none;
    border-radius: 0 5px 5px 0;
    background-color: white;
    color: black;
}