@import '_content/Blazor.Bootstrap/Blazor.Bootstrap.7t9tbfaemk.bundle.scp.css';
@import '_content/Microsoft.AspNetCore.Components.QuickGrid/Microsoft.AspNetCore.Components.QuickGrid.bundle.scp.css';

/* /Layout/MainLayout.razor.rz.scp.css */
.page[b-wp84x687sp] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-wp84x687sp] {
    flex: 1;
}

#blazor-error-ui[b-wp84x687sp] {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss[b-wp84x687sp] {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

.menu[b-wp84x687sp] {
    position: absolute;
    width: 20rem;
    height: 100vh;
}
/* 
.top-row {
    background-color: var(--dark-gray);
} */

.nav-content[b-wp84x687sp] {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 20rem;
    position: fixed;
    background-color: #202022;
    z-index: 5;
    padding: 1rem;
}

.nav-title[b-wp84x687sp] {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.menu-link[b-wp84x687sp] {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
}

.submenu-link[b-wp84x687sp] {
    color: lightgray;
    font-size: 1rem;
    /* font-weight: bold; */
    text-decoration: none;
    padding-left: 8px;
}

.content[b-wp84x687sp] {
    padding: 0;
    display: flex;
    justify-content: start;
    /* align-items: center; */
    width: 100%;
    position: absolute;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.menu-item[b-wp84x687sp] {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 4px;
    width: 100%;
    cursor: pointer;
}

.nav-menu[b-wp84x687sp] {
    display: none;
    background-color: #202022;
    z-index: 5;
    width: 100vw;
    padding: 4px;
    gap: 5px;
    align-items: center;
}

.nav-menu-title[b-wp84x687sp] {
    margin: 0;
}

.nav-menu-version[b-wp84x687sp] {
    margin: 0;
    opacity: 0.5;
    font-size: small;
}

.nav-shadow[b-wp84x687sp] {
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.5;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
}

@media only screen and (max-width: 800px) {
    .nav-content[b-wp84x687sp] {
        display: none;
    }

    .nav-menu[b-wp84x687sp] {
        display: flex;
        position: fixed;
        top: 0;
    }
}
/* /Pages/Options.razor.rz.scp.css */
img[b-6h3tfdbaa6] {
    width: 8rem;
}

.items[b-6h3tfdbaa6] {
    max-width: 26rem;
}

.build[b-6h3tfdbaa6] {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.large-items[b-6h3tfdbaa6] {
    flex: 1;
    align-items: start;
    max-width: 100%;
    gap:2rem;
}

@media only screen and (max-width: 60rem) {
    .large-items[b-6h3tfdbaa6] {
        max-width: 26rem;
        justify-content: center;
    }

    .large-items .items[b-6h3tfdbaa6] {
        justify-content: center;
    }

}

@media only screen and (max-width: 86rem) {
    .large-items[b-6h3tfdbaa6] {
        max-width: 54rem;
        justify-content: center;
    }

}
