@import '_content/Microsoft.AspNetCore.Components.QuickGrid/Microsoft.AspNetCore.Components.QuickGrid.bundle.scp.css';

/* /Components/CookieManager/CookiePopup.razor.rz.scp.css */
.cookie-popup[b-79qkp638xp] {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 1rem;
    margin: 2rem;
    background-color: var(--black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    width: 30rem;
    flex-direction: column;
    max-width: 85%;
}

.cookie-popup > img[b-79qkp638xp] {
    cursor: pointer;
    margin-left: auto;
    width: 1rem;
}
/* /Components/ImageCheckbox/ImageCheckbox.razor.rz.scp.css */
.area[b-xcywqu6t3y] {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 8rem;
    height: 12rem;
}

.layer1[b-xcywqu6t3y] {
    position: relative;
    width: 100%;
}

.image[b-xcywqu6t3y] {
    width: 100%;
    height: 8rem;
    object-fit: cover;
    object-position: 0 0;
    border-radius: 0.5rem 0.5rem 0 0;
}

.layer2[b-xcywqu6t3y] {
    position: relative;
    width: 4rem;
    height: 4rem;
    margin-top: -4rem;
}

.cross[b-xcywqu6t3y] {
    width: 4rem;
}

.label[b-xcywqu6t3y] {
    font-size: 1rem;
    max-width: 100%;
    text-align: center;
    background-color: #1255cf;
    width: 100%;
    border-radius: 0 0 0.5rem 0.5rem;
    padding: 0.5rem 0;
    color: white;
}

@media only screen and (max-width: 30rem) {
    .area[b-xcywqu6t3y] {
        width: 6rem;
        height: 8rem;
    }

    .image[b-xcywqu6t3y] {
        height: 6rem;
    }
}
/* /Layout/MainLayout.razor.rz.scp.css */
.page[b-wp84x687sp] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-wp84x687sp] {
    flex: 1;
}

#blazor-error-ui[b-wp84x687sp] {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss[b-wp84x687sp] {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

@media only screen and (max-width: 40rem) {
    .top-row > p[b-wp84x687sp] {
        display: none;
    }
}
    
/* /Layout/NavMenu.razor.rz.scp.css */
.menu[b-2ta2zykge7] {
    background-color: var(--dark-gray);
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    padding: 0 1.5rem;
}

.top-row[b-2ta2zykge7] {
    background-color: var(--dark-gray);
}

.content[b-2ta2zykge7] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85%;
}

.menu-link[b-2ta2zykge7] {
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    text-decoration: none;
}

.submenu-link[b-2ta2zykge7] {
    color: lightgray;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
}
/* /Pages/Home.razor.rz.scp.css */
.generateButton[b-3xcte9qnpj] {
    background-color: #1255cf;
    color: white;
    border: none;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    font-weight: bolder;
}

.item img[b-3xcte9qnpj] {
    width: 8rem;
}

@media only screen and (max-width: 60rem) {
    .items[b-3xcte9qnpj] {
        justify-content: center;
    }
}
/* /Pages/Options.razor.rz.scp.css */
img[b-6h3tfdbaa6] {
    width: 8rem;
}

.items[b-6h3tfdbaa6] {
    max-width: 26rem;
}

.build[b-6h3tfdbaa6] {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.large-items[b-6h3tfdbaa6] {
    flex: 1;
    align-items: start;
    max-width: 100%;
    gap:2rem;
}

@media only screen and (max-width: 60rem) {
    .large-items[b-6h3tfdbaa6] {
        max-width: 26rem;
        justify-content: center;
    }

    .large-items .items[b-6h3tfdbaa6] {
        justify-content: center;
    }

}

@media only screen and (max-width: 86rem) {
    .large-items[b-6h3tfdbaa6] {
        max-width: 54rem;
        justify-content: center;
    }

}
