@inherits LayoutComponentBase
@inject CookieService CookieService

<div class="page">
    @if (menuOpen)
    {
        <NavMenu OnToggleMenu="ToggleMenu" />
    }

    <main>
        <div class="top-row px-4">
            <img src="images/thefinals.png" alt="THE FINALS" />
            <p>Random Loadout Generator</p>
            <button class="btn btn-menu" style="margin-left:auto;" @onclick="ToggleMenu">
                <img src="images/menu.svg" alt="Menu" />
            </button>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@if (cookieConsent == false)
{
    <CookiePopup OnAccept=StateHasChanged />
}

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>


@code {
    private bool menuOpen = false;
    private bool cookieConsent = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender) {
            cookieConsent = await CookieService.GetCookie("cookieConsent") == "true";
            StateHasChanged();
        }
    }

    private void ToggleMenu()
    {
        menuOpen = !menuOpen;
        StateHasChanged();
    }
}