@inherits LayoutComponentBase
@inject CookieService CookieService
@using System.Reflection

<div class="page">
    @if (menuOpen)
    {
        <NavMenu OnToggleMenu="ToggleMenu" />
    }

    <main>
        <div class="top-row px-4">
            @* <a href=""><img src="images/thefinals.png" alt="THE FINALS" style="height:2rem;" /></a> *@
            <h1 class="m-0">THE NEST</h1>
            <p class="version-text">@version</p>
            <button class="btn btn-menu" style="margin-left:auto;" @onclick="ToggleMenu">
                <img src="images/menu.svg" alt="Menu" />
            </button>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@if (cookieConsent == false)
{
    <CookiePopup OnAccept=StateHasChanged />
}

@code {
    private string version = ""; 

    private bool menuOpen = false;
    private bool cookieConsent = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender) {
            cookieConsent = await CookieService.GetCookie("cookieConsent") == "true";
            version = GetVersion();
            StateHasChanged();
        }
    }

    private void ToggleMenu()
    {
        menuOpen = !menuOpen;
        StateHasChanged();
    }

    private string GetVersion()
    {
        var assembly = Assembly.GetExecutingAssembly();
        version = "v." + assembly?.GetName()?.Version?.ToString().Substring(0, 5);
        return version;
    }
}