.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

.menu {
    position: absolute;
    width: 20rem;
    height: 100vh;
}
/* 
.top-row {
    background-color: var(--dark-gray);
} */

.nav-content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 20rem;
    position: fixed;
    background-color: #202022;
    z-index: 5;
    padding: 1rem;
}

.nav-title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.menu-link {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
}

.submenu-link {
    color: lightgray;
    font-size: 1rem;
    /* font-weight: bold; */
    text-decoration: none;
    padding-left: 8px;
}

.content {
    padding: 0;
    display: flex;
    justify-content: start;
    /* align-items: center; */
    width: 100%;
    position: absolute;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.menu-item {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 4px;
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
}

.nav-menu {
    display: none;
    background-color: #202022;
    z-index: 5;
    width: 100vw;
    padding: 8px;
    gap: 5px;
    align-items: center;
}

.nav-menu-title {
    margin: 0;
    font-weight: bold;
}

.nav-shadow {
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.5;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
}

@media only screen and (max-width: 800px) {
    .nav-content {
        display: none;
    }

    .nav-menu {
        display: flex;
        position: fixed;
        top: 0;
    }
}
