@inherits LayoutComponentBase
@inject CookieService CookieService

<div class="page">
    @if (menuOpen)
    {
        <NavMenu OnToggleMenu="ToggleMenu" />
    }

    <main>
        <div class="top-row px-4">
            @* <a href=""><img src="images/thefinals.png" alt="THE FINALS" style="height:2rem;" /></a> *@
            <h1 class="m-0">THE NEST</h1>
            <button class="btn btn-menu" style="margin-left:auto;" @onclick="ToggleMenu">
                <img src="images/menu.svg" alt="Menu" />
            </button>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@if (cookieConsent == false)
{
    <CookiePopup OnAccept=StateHasChanged />
}

@code {
    private bool menuOpen = false;
    private bool cookieConsent = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender) {
            cookieConsent = await CookieService.GetCookie("cookieConsent") == "true";
            StateHasChanged();
        }
    }

    private void ToggleMenu()
    {
        menuOpen = !menuOpen;
        StateHasChanged();
    }
}