@namespace Components.CookieManager
@inject CookieService CookieService

@if (visible)
{
    <div class="cookie-popup">
        <img src="images/close.svg" alt="Close" @onclick=ClosePopup />
        <p>This site utilizes cookies to store user option. Please accept the use of cookies to enable these features</p>
        <button class="btn btn-primary" @onclick="AcceptCookies">Accept</button>
    </div>
}

@code {
    [Parameter] public EventCallback OnAccept { get; set; }
    private bool visible = true;

    private async void  AcceptCookies()
    {
        await CookieService.SetCookie("cookieConsent", "true");
        visible = false;
        if (OnAccept.HasDelegate)
        {
            await OnAccept.InvokeAsync();
        }
        StateHasChanged();
    }

    private void ClosePopup()
    {
        visible = false;
        StateHasChanged();
    }
}