@page "/"

<div class="fade-in" style="width:90%;max-width:40rem;text-align:start;">
    <h2>Hello There!</h2>
    <p>This little site have been brought to you by Tanamo/Snel or one of the many other names I go by. In addition, I want to thank <a href="https://www.embark-studios.com/" style="color:white;">Embark Studios</a> and my dear friend <a href="https://www.twitch.tv/plopparntv" style="color:white;"><img src="images/twitch.png" alt="" style="width:1.5rem;" />PlopparnTV</a> for the idea for the site. </p>
    <br />
    <p>As of now, the site is still in development and I'm working on adding more features and improvements. If you have any suggestions or feedback, feel free to contact "tanamo" on Discord or create a <a href="https://github.com/Canamo/TheNest/issues/" style="color:white"><img src="images/github.png" alt="" style="height:1.5rem;" />GitHub issue.</a></p>
    <br />
    <p>Thank you for visiting and I hope to see some off-meta loadouts in my games going forward!</p>
    <br />
    <div style="width:100%;display:flex;justify-content:end;">
        <a style="color:white;text-decoration:none;" href="https://www.youtube.com/watch?v=G6k2A9SaFzE">*Insert chaotic cashout music*</a>
    </div>
</div>
