@page "/options"
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject Constants Constants

<h2>Click on items to exclude from randomizer</h2>
<br />

<div class="items fade-in">
    <div class="item">
        <h1 class="itemHeader">Classes</h1>
        <div class="items">
            @if (selectedClasses != null)
            {
                foreach (string item in Constants.Classes)
                {
                    <ImageCheckbox ImagePath=@($"images/{item}.jpg") AltText=@item IsCheckedChanged=SelectClass IsChecked=@(selectedClasses.Contains(@item)) WhiteCross=true />
                }
            }
        </div>
    </div>
</div>

<div class="fade-in">
@* Light *@
    <div class="build">
        <h1 class="itemHeader">Light</h1>
        <div class="items large-items">
            <div class="item">
                <h1 class="itemHeader">Specializations</h1>
                <div class="items">
                    @if (selectedSpecializations != null)
                    {
                        foreach (string item in Constants.LSpecializations)
                        {
                            <ImageCheckbox ImagePath=@($"images/{item}.png") AltText=@(item.Replace("_", " ")) IsCheckedChanged=SelectSpecialization IsChecked=@(selectedSpecializations.Contains(@item)) />
                        }
                    }
                </div>
            </div>
            <div class="item">
                <h1 class="itemHeader">Weapons</h1>
                <div class="items">
                    @if (selectedWeapons != null)
                    {
                        foreach (string item in Constants.LWeapons)
                        {
                            <ImageCheckbox ImagePath=@($"images/{item}.png") AltText=@(item.Replace("_", " ")) IsCheckedChanged=SelectWeapon IsChecked=@(selectedWeapons.Contains(@item)) />
                        }
                    }
                </div>
            </div>
            <div class="item">
                <h1 class="itemHeader">Gadgets</h1>
                <div class="items">
                    @if (selectedGadgets != null)
                    {
                        foreach (string item in Constants.LGadgets)
                        {
                            <ImageCheckbox ImagePath=@($"images/{item}.png") AltText=@(item.Replace("_", " ")) IsCheckedChanged=SelectGadget IsChecked=@(selectedGadgets.Contains(@item)) />
                        }
                    }
                </div>
            </div>
        </div>
    </div>

@* Medium *@
    <div class="build">
        <h1 class="itemHeader">Medium</h1>
        <div class="items large-items">
            <div class="item">
                <h1 class="itemHeader">Specializations</h1>
                <div class="items">
                    @if (selectedSpecializations != null)
                    {
                        foreach (string item in Constants.MSpecializations)
                        {
                            <ImageCheckbox ImagePath=@($"images/{item}.png") AltText=@(item.Replace("_", " ")) IsCheckedChanged=SelectSpecialization IsChecked=@(selectedSpecializations.Contains(@item)) />
                        }
                    }
                </div>
            </div>
            <div class="item">
                <h1 class="itemHeader">Weapons</h1>
                <div class="items">
                    @if (selectedWeapons != null)
                    {
                        foreach (string item in Constants.MWeapons)
                        {
                            <ImageCheckbox ImagePath=@($"images/{item}.png") AltText=@(item.Replace("_", " ")) IsCheckedChanged=SelectWeapon IsChecked=@(selectedWeapons.Contains(@item)) />
                        }
                    }
                </div>
            </div>
            <div class="item">
                <h1 class="itemHeader">Gadgets</h1>
                <div class="items">
                    @if (selectedGadgets != null)
                    {
                        foreach (string item in Constants.MGadgets)
                        {
                            <ImageCheckbox ImagePath=@($"images/{item}.png") AltText=@(item.Replace("_", " ")) IsCheckedChanged=SelectGadget IsChecked=@(selectedGadgets.Contains(@item)) />
                        }
                    }
                </div>
            </div>
        </div>
    </div>

@* Heavy *@
    <div class="build">
        <h1 class="itemHeader">Heavy</h1>
        <div class="items large-items">
            <div class="item">
                <h1 class="itemHeader">Specializations</h1>
                <div class="items">
                    @if (selectedSpecializations != null)
                    {
                        foreach (string item in Constants.HSpecializations)
                        {
                            <ImageCheckbox ImagePath=@($"images/{item}.png") AltText=@(item.Replace("_", " ")) IsCheckedChanged=SelectSpecialization IsChecked=@(selectedSpecializations.Contains(@item)) />
                        }
                    }
                </div>
            </div>
            <div class="item">
                <h1 class="itemHeader">Weapons</h1>
                <div class="items">
                    @if (selectedWeapons != null)
                    {
                        foreach (string item in Constants.HWeapons)
                        {
                            <ImageCheckbox ImagePath=@($"images/{item}.png") AltText=@(item.Replace("_", " ")) IsCheckedChanged=SelectWeapon IsChecked=@(selectedWeapons.Contains(@item)) />
                        }
                    }
                </div>
            </div>
            <div class="item">
                <h1 class="itemHeader">Gadgets</h1>
                <div class="items">
                    @if (selectedGadgets != null)
                    {
                        foreach (string item in Constants.HGadgets)
                        {
                            <ImageCheckbox ImagePath=@($"images/{item}.png") AltText=@(item.Replace("_", " ")) IsCheckedChanged=SelectGadget IsChecked=@(selectedGadgets.Contains(@item)) />
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private List<string> selectedClasses = new List<string>();
    private List<string> selectedSpecializations = new List<string>();
    private List<string> selectedWeapons = new List<string>();
    private List<string> selectedGadgets = new List<string>();

    protected override async Task OnInitializedAsync()
    {
        // Classes
        string? cookieClass = await localStorage.GetItemAsync<string>("classes");
        if (!string.IsNullOrEmpty(cookieClass)) {
            selectedClasses = cookieClass.Split(",").ToList();
        } else {
            selectedClasses = new List<string>();
        }

        // Specializations
        string? cookieSpecializations = await localStorage.GetItemAsync<string>("specializations");
        if (!string.IsNullOrEmpty(cookieSpecializations)) {
            selectedSpecializations = cookieSpecializations.Split(",").ToList();
        } else {
            selectedSpecializations = new List<string>();
        }

        // Weapons
        string? cookieWeapons = await localStorage.GetItemAsync<string>("weapons");
        if (!string.IsNullOrEmpty(cookieWeapons)) {
            selectedWeapons = cookieWeapons.Split(",").ToList();
        } else {
            selectedWeapons = new List<string>();
        }

        // Gadgets
        string? cookieGadgets = await localStorage.GetItemAsync<string>("gadgets");
        if (!string.IsNullOrEmpty(cookieGadgets)) {
            selectedGadgets = cookieGadgets.Split(",").ToList();
        } else {
            selectedGadgets = new List<string>();
        }

        StateHasChanged();
    }

    private async Task SelectClass(string selectedClass) {
        selectedClass = selectedClass.Replace(" ", "_");
        if (selectedClasses.Contains(selectedClass)) {
            selectedClasses.Remove(selectedClass);
        } else {
            selectedClasses.Add(selectedClass);
        }

        await localStorage.SetItemAsync("classes", string.Join(",", selectedClasses));
    }

    private async Task SelectSpecialization(string selectedSpecialization) {
        selectedSpecialization = selectedSpecialization.Replace(" ", "_");
        if (selectedSpecializations.Contains(selectedSpecialization)) {
            selectedSpecializations.Remove(selectedSpecialization);
        } else {
            selectedSpecializations.Add(selectedSpecialization);
        }

        await localStorage.SetItemAsync("specializations", string.Join(",", selectedSpecializations));
    }

    private async Task SelectWeapon(string selectedWeapon) {
        selectedWeapon = selectedWeapon.Replace(" ", "_");
        if (selectedWeapons.Contains(selectedWeapon)) {
            selectedWeapons.Remove(selectedWeapon);
        } else {
            selectedWeapons.Add(selectedWeapon);
        }

        await localStorage.SetItemAsync("weapons", string.Join(",", selectedWeapons));
    }

    private async Task SelectGadget(string selectedGadget) {
        selectedGadget = selectedGadget.Replace(" ", "_");
        if (selectedGadgets.Contains(selectedGadget)) {
            selectedGadgets.Remove(selectedGadget);
        } else {
            selectedGadgets.Add(selectedGadget);
        }

        await localStorage.SetItemAsync("gadgets", string.Join(",", selectedGadgets));
    }
}
