@page "/"
@inject CookieService CookieService

<PageTitle>Random Loadout Generator</PageTitle>

<div class="content">
    @if (classType != "")
    {
        <div class="item">
            <h1 class="itemHeader">Build</h1>
            <img src="placeholder.png" alt=@classType>
        </div>
        <div class="items">
            <div class="item">
                <h1 class="itemHeader">Specialization</h1>
                <img src="placeholder.png" alt=@specialization>
            </div>
            <div class="item">
                <h1 style="itemHeader">Weapon</h1>
                <img src="placeholder.png" alt=@weapon>
            </div>
        </div>
        <div class="items">
            <div class="item">
                <h1 class="itemHeader">Gadgets</h1>
                <div class="items">
                    <img src="placeholder.png" alt=@gadgets[0]>
                    <img src="placeholder.png" alt=@gadgets[1]>
                    <img src="placeholder.png" alt=@gadgets[2]>
                </div>
            </div>
        </div>
        <div style="height:3rem;" />
    }

    <button class="generateButton" @onclick="GenerateRandomLoadout">Generate Random Loadout</button>
</div>





@code {
    private List<string> classTypes = new List<string> {"light", "medium", "heavy"};

    private List<string> lSpecializationTypes = new List<string> {"Cloaking Device", "Evasive Dash", "Grappling Hook"};
    private List<string> lWeaponTypes = new List<string> {"V95", "93R", "M11", "XP-54", "SH1900", "LH1", "SR-84", "Dagger", "Sword", "Throwing Knives"};
    private List<string> lGadgetTypes = new List<string> {"Breach Charge", "Flashbang", "Frag Grenade", "Gas Grenade", "Gateway", "Goo Grenade", "Glitch Grenade", "Smoke Grenade", "Sonar Grenade", "Stun Gun", "Thermal Vision", "Tracking Dart", "Pyro Grenade", "Vanishing Bomb"};
    
    private List<string> mSpecializationTypes = new List<string> {"Guardian Turret", "Healing Beam", "Dematerialiser"};
    private List<string> mWeaponTypes = new List<string> {"AKM", "FCAR", "CL-40", "R.357", "Model 1887", "Riot Shield", "FAMAS"};
    private List<string> mGadgetTypes = new List<string> {"APS Turret", "Defibrillator", "Explosive Mine", "Flashbang", "Frag Grenade", "Gas Grenade", "Gas Mine", "Glitch Trap", "Goo Grenade", "Jump Pad", "Incendiary Grenade", "Sonar Grenade", "Tracking Dart", "Zipline", "Night Vision", "Data Reshaper"};

    private List<string> hSpecializationTypes = new List<string> {"Charge 'n' Slam", "Goo Gun", "Mesh Shield"};
    private List<string> hWeaponTypes = new List<string> {"M60", "Lewis", "Flamethrower", "MGL32", "SA1216", "Sledgehammer", "KS-23"};
    private List<string> hGadgetTypes = new List<string> {"Frag Grenade", "Flashbang", "Incendiary Grenade", "Goo Grenade", "Gas Grenade", "C4", "Explosive Mine", "Incendiary Mine", "Barricade", "RPG-7", "Dome Shield", "Night Vision", "Anti-Gravity Cube"};

    private string loadout = "No loadout generated yet.";

    private string classType = "";
    private string specialization = "";
    private string weapon = "";
    private List<string> gadgets = new List<string>();

    private void GenerateRandomLoadout()
    {
        Random random = new Random();
        string cookie;

        // TODO: Remove stored classes in cookies from classes





        classType = classTypes[random.Next(0, 3)];

        if (classType == "light")
        {
            specialization = lSpecializationTypes[random.Next(0, lSpecializationTypes.Count)];
            weapon = lWeaponTypes[random.Next(0, lWeaponTypes.Count)];
            gadgets = GetRandomItems(lGadgetTypes, 3);
        }
        else if (classType == "medium")
        {
            specialization = mSpecializationTypes[random.Next(0, mSpecializationTypes.Count)];
            weapon = mWeaponTypes[random.Next(0, mWeaponTypes.Count)];
            gadgets = GetRandomItems(mGadgetTypes, 3);
        }
        else if (classType == "heavy")
        {
            specialization = hSpecializationTypes[random.Next(0, hSpecializationTypes.Count)];
            weapon = hWeaponTypes[random.Next(0, hWeaponTypes.Count)];
            gadgets = GetRandomItems(hGadgetTypes, 3);
        }

        loadout = $"Class: {classType}; Specialization: {specialization}; Weapon: {weapon}; Gadgets: {gadgets[0]}, {gadgets[1]}, {gadgets[2]}";
    }

    private List<string> GetRandomItems(List<string> items, int count) {
        Random random = new Random();
        List<string> randomItems = new List<string>();
        for (int i = 0; i < count; i++)
        {
            string item = items[random.Next(0, items.Count)];
            while (randomItems.Contains(item))
            {
                item = items[random.Next(0, items.Count)];
            }
            randomItems.Add(items[random.Next(0, items.Count)]);
        }
        return randomItems;
    }

}
