@page "/"

<PageTitle>Home</PageTitle>

<h1>Random Loadout Generator</h1>
<button @onclick="GenerateRandomLoadout">Generate</button>
<p>@loadout</p>


@code {
    private List<string> classes = new List<string> {"light", "medium", "heavy"};

    private List<string> lightWeapons = new List<string> {"V95", "93R", "M11", "XP-54", "SH1900", "LH1", "SR-84", "Dagger", "Sword", "Throwing Knives"};
    private List<string> lightGadgets = new List<string> {"Breach Charge", "Flashbang", "Frag Grenade", "Gas Grenade", "Gateway", "Goo Grenade", "Glitch Grenade", "Smoke Grenade", "Sonar Grenade", "Stun Gun", "Thermal Vision", "Tracking Dart", "Pyro Grenade", "Vanishing Bomb"};
    
    private List<string> mediumWeapons = new List<string> {"AKM", "FCAR", "CL-40", "R.357", "Model 1887", "Riot Shield", "FAMAS"};
    private List<string> mediumGadgets = new List<string> {"APS Turret", "Defibrillator", "Explosive Mine", "Flashbang", "Frag Grenade", "Gas Grenade", "Gas Mine", "Glitch Trap", "Goo Grenade", "Jump Pad", "Incendiary Grenade", "Sonar Grenade", "Tracking Dart", "Zipline", "Night Vision", "Data Reshaper"};

    private List<string> heavyWeapons = new List<string> {"M60", "Lewis", "Flamethrower", "MGL32", "SA1216", "Sledgehammer", "KS-23"};
    private List<string> heavyGadgets = new List<string> {"Frag Grenade", "Flashbang", "Incendiary Grenade", "Goo Grenade", "Gas Grenade", "C4", "Explosive Mine", "Incendiary Mine", "Barricade", "RPG-7", "Dome Shield", "Night Vision", "Anti-Gravity Cube"};

    private string loadout = "No loadout generated yet.";

    

    private void GenerateRandomLoadout()
    {
        Random random = new Random();
        string weapon = "";
        List<string> gadgets = new List<string>();
        string classType = classes[random.Next(0, 3)];

        if (classType == "light")
        {
            weapon = lightWeapons[random.Next(0, lightWeapons.Count)];
            gadgets = GetRandomItems(lightGadgets, 3);
        }
        else if (classType == "medium")
        {
            weapon = mediumWeapons[random.Next(0, mediumWeapons.Count)];
            gadgets = GetRandomItems(mediumGadgets, 3);
        }
        else if (classType == "heavy")
        {
            weapon = heavyWeapons[random.Next(0, heavyWeapons.Count)];
            gadgets = GetRandomItems(heavyGadgets, 3);
        }

        loadout = $"Class: {classType}; Weapon: {weapon}; Gadgets: {gadgets[0]}, {gadgets[1]}, {gadgets[2]}";
    }

    private List<string> GetRandomItems(List<string> items, int count) {
        Random random = new Random();
        List<string> randomItems = new List<string>();
        for (int i = 0; i < count; i++)
        {
            string item = items[random.Next(0, items.Count)];
            while (randomItems.Contains(item))
            {
                item = items[random.Next(0, items.Count)];
            }
            randomItems.Add(items[random.Next(0, items.Count)]);
        }
        return randomItems;
    }

}
